<div class="panel panel-primary">
    <div class="panel-heading">
        {{ title }}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Enter your Search" [(ngModel)] = "userInput"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filter Result: Number of Item Searched : {{ (products | filterProduct:userInput).length}}</h4>
            </div>
        </div>
        <div class="table-responsive" *ngIf="showTable">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-success" (click)="ToggleImage()">
                               {{showImage ? 'Hide Image': 'Show Image'}}
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | filterProduct:userInput">
                        <td>
                            <img [src]="product.imageUrl" 
                                 *ngIf="showImage"
                                 [style.width.px]="imageWidth"/>
                        </td>
                        <td >
                            <a [routerLink]="['/products',product.productId]">
                                {{product.productName | myUpper:"upper"}}
                            </a>
                        </td>
                        <td style="color:blueviolet">
                            {{product.productCode | myUpper:"lower"}}
                        </td>
                        <td>{{product.releaseDate }}</td>
                        <td [ngStyle]="{'background-color':product.price<30?'green':'orange'}">
                            {{product.price | addValue |  currency:"AUD"}}
                        </td>
                        <td>
                            <app-star [rating]="product.starRating"
                                (ratingClicked)="onDataRecieve($event)"></app-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!---
[queryParams]="{name:product.productName,img:product.imageUrl,desc:product.description}"
-->